<%= form_with(model: skill, url: bucket_recording_skills_url(@bucket, parent), local: true) do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
