<div class="panel panel--community">
  <header class="community-header community-header--for-home centered u-position-context">
    <div class="community-header__details">
      <h1 class="community-header__name--overview">
        <span class="community-header__name-text"><%= @community.title %></span>
      </h1>
    </div>
  </header>

  <div class="card-grid card-grid--2-up">
    <article class="card card--pathway_board card--app card--docked">
      <%= link_to bucket_pathways_url(@community.bucket), class: "card__link" do %>
        <div class="card__content">
          <header class="card__header centered">
            <h1 class="card__heading flush txt--truncate">
              <span class="card__title">Pathway board</span>
            </h1>
          </header>
        </div>
      <% end %>
    </article>
  </div>
</div>
